body {
    background-color: #232210;
}

h1>span {
    color: greenyellow;
}
a{
    color: #fff;
    display: block;
    margin: 15px;
    text-decoration: underline wavy #e11d74 2px ;
}
.wavy_line {
    text-decoration: underline wavy #234523;
    color: #dfa;
}

.box-wrapper{
    border-radius: 30px;
    box-shadow: 0px -1px 13px 8px #fff,0 0 8px 16px lime,2px 3px 18px 30px yellow;
}
.box-wrapper>h1{
    font-size: 120px;
    color: #dfa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline wavy chartreuse;
    padding: 30px;
    text-decoration-thickness: 5px;
    text-shadow: 0 0 8px 3px darkorchid;
}
.Positioning_inCSS{
    background-color: rgb(194, 183, 209);
    padding: 20px 10px;
    border-radius: 30px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    box-shadow: 0 0 18px 3px skyblue;
}
.Positioning_inCSS > h1 {
    text-align: center;
    color: blue;
    text-shadow: 0px 3px 3px #fff, 0px 6px 3px lime;
    letter-spacing: 0.5rem;
    font-variant-caps: all-petite-caps;
    background: url('../images/0.png');
}
.position_box{
    background-color:#fff;
    width: 25%;
    border-radius: 8px;
    /* padding: 2px 8px; */
    border:1px solid  red;
    box-shadow:0px 0px 10px 2px lime ;
}
.position_box>h3,p{
    text-align: center;
}
.position_box>pre{
    color: #234523;
    font-weight: bold;
}
.relative_position{
    position: relative;
    /* top: 30px;
    bottom: 40px; */
    left: 60px;
}
.absolute_position{
    position: absolute;
    top: 579px;
    left: 950px;
}
.fixed_position{
    margin-top: 30px;
    margin-left: 60px;
    /* position: fixed; */
    display: inline-block;
}
.sticky_position{
        float: right;
        margin-top: 30px;
        margin-right: 50px;
    position: sticky;   
}
.positionConceptImg{
    width: 37%;
    height: 70%;
    background: url('../Images/Positions.jpg');
    position: absolute;
    top: 579px;
    left: 430px;
    background-repeat: no-repeat;
    background-size: contain;   
    /* box-shadow: 1px 3px 4px 4px #fff; */
}

.list_formates{
    background-color: cornsilk;
    margin: 3% 1%;
    padding: 3%;
    border-radius: 20% 15% 39% 35%;
    box-shadow: 2px 4px 8px 5px yellow, 1px 0px 5px 8px red;
}
.image_box{
    width: 800px;
    height: 600px;
    background-color: cornsilk;
    margin-top: 5%;
    margin-left: 21%;
    padding: 1px;
    border-radius: 3% 39% 3% 35%;
    /* box-shadow: 2px 4px 8px 5px yellow, 1px 0px 5px 8px red; */
    box-shadow: 1px 0px 15px 7px yellow,4px 7px 10px 13px  red;
    margin-bottom: 5%;
}
.image_box>img{
    width: 100%;
    height: 100%;
    border-radius: 3% 39% 3% 35%;
    background: linear-gradient(0deg, #00000088 100%, #ffffff44 100%);
}
.personal_image
{
    width: 800px;
    height: 600px;
    background-color: cornsilk;
    margin-top: 5%;
    margin-left: 21%;
    padding: 1px;
    border-radius: 39% 3% 39% 3%;
    /* box-shadow: 2px 4px 8px 5px yellow, 1px 0px 5px 8px red; */
    box-shadow: 1px 0px 15px 7px yellow,4px 7px 10px 13px  red;
    margin-bottom: 5%;
}

.personal_image>img{
    width: 100%;
    height: 100%;
    border-radius: 39% 3% 39% 3%;
    background: linear-gradient(0deg, #00000088 100%, #ffffff44 100%);
}