body {
    background-color: darkkhaki;
}

h1>span {
    color: greenyellow;
}

.wavy_line {
    text-decoration: underline wavy;
}

.box-wrapper{
    border-radius: 30px;
    box-shadow: 0px -1px 13px 8px #fff,0 0 8px 16px lime,2px 3px 18px 30px yellow;
}
.box-wrapper>h1{
    font-size: 120px;
    color: #dfa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline wavy chartreuse;
    padding: 30px;
    text-decoration-thickness: 5px;
    text-shadow: 0 0 8px 3px darkorchid;
}
.Positioning_inCSS{
    background-color: saddlebrown;
    padding: 20px;
    border-radius: 30px;
    border-top-left-radius: 150px;
    border-bottom-right-radius: 150px;
    box-shadow: 0 0 8px 3px skyblue;
}
.Positioning_inCSS > h1 {
    text-align: center;
}